<h2>Edit Lead</h2>
<form method="POST" action="{{ url_for('lead.update', { id: lead.id }) }}">
    <label>Name: <input type="text" name="name" value="{{ lead.name }}"></label><br>
    <label>Contact Number: <input type="text" name="contactNumber" value="{{ lead.contactNumber }}"></label><br>
    <label>Email: <input type="email" name="email" value="{{ lead.email }}"></label><br>
    <label>Product Interest: <input type="text" name="productInterest" value="{{ lead.productInterest }}"></label><br>
    <label>Product Interest: <input type="text" name="status" value="{{ lead.status }}"></label><br>
    <button type="submit">Update Lead</button>
</form>