{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
        <div class="container px-4 py-3 px-md-5 text-center text-lg-start my-5">
            <h1>Lead List</h1>

            <div class="d-flex justify-content-between align-items-center mb-4">
                <a href="{{ url_for('lead.create') }}">
                    <button class="btn btn-primary">
                        Create New Lead
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </button>
                </a>

                <form method="get" action="{{ url_for('leads') }}" class="mb-4">
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                            <input type="text" name="search" value="{{ search|default('') }}" class="form-control" placeholder="Leads name or product">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-secondary">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a class="no-style-link" href="{{ url_for('leads') ~ 
                                    '?page=' ~ currentPage ~
                                    '&sort_field=name&sort_order=' ~ (
                                        sort_order == 'asc'
                                        ?
                                        'desc'
                                        :
                                        'asc'
                                    ) ~
                                    (search is defined and search ? '&search=' ~ search : '')
                            }}">
                                <i class="fas fa-sort"></i>
                                Name
                            </a>
                        </th>
                        <th scope="col">Contact Number</th>
                        <th>
                            <a class="no-style-link" href="{{ url_for('leads') ~ 
                                    '?page=' ~ currentPage ~
                                    '&sort_field=email&sort_order=' ~ (
                                        sort_order == 'asc'
                                        ?
                                        'desc'
                                        :
                                        'asc'
                                    ) ~
                                    (search is defined and search ? '&search=' ~ search : '')
                            }}">
                                <i class="fas fa-sort"></i>
                                Email
                            </a>
                        </th>
                        <th scope="col">Product Interest</th>
                        <th>
                            
                            <a class="no-style-link" href="{{ url_for('leads') ~ 
                                    '?page=' ~ currentPage ~
                                    '&sort_field=status&sort_order=' ~ (
                                        sort_order == 'asc'
                                        ?
                                        'desc'
                                        :
                                        'asc'
                                    ) ~
                                    (search is defined and search ? '&search=' ~ search : '')
                            }}">
                                <i class="fas fa-sort"></i>
                                Status
                            </a>
                        </th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lead in leads %}
                        <a href="{{ url_for('lead.edit', { id: lead.id }) }}">
                        <tr>
                            <td><a href="{{ url_for('lead.edit', { id: lead.id }) }}">{{ lead.name }}</a></td>
                            <td>{{ lead.contactNumber }}</td>
                            <td>{{ lead.email }}</td>
                            <td>{{ lead.productInterest }}</td>
                            <td>{{ lead.status }}</td>
                            <td>
                            <form action="{{ url_for('lead.delete', { id: lead.id }) }}" method="delete" style="display:inline">
                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i> </button>
                            </form>
                            </td>
                        </tr>
                        </a>
                    {% endfor %}
                </tbody>
            </table>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  {% for i in 1..totalPages %}
                    <li class="page-item {{ i == currentPage ? 'active' : '' }}">
                      <a class="page-link" href="{{ url_for('leads') ~ '?page=' ~ i ~ '&sort_field=' ~ sort_field ~ '&sort_order=' ~ sort_order ~ 
    (search is defined and search ? '&search=' ~ search : '')}} ">
                        {{ i }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
            </nav>
              
        </div>

{% endblock %}
